{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">You can build the following counters</h1>
        </div>
        <div class="row gy-3 justify-content-around">
            {{ dump(fighterCounters) }}
        </div>
    </div>
{% endblock %}
